* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#quote-box{
  font-size: 22px;
  text-align: center;
  width: 605px;
  padding: 30px 30px 25px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 12px 35px rgba(0,0,0,0.25);
}


#tittle{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin: 35px 0;

}

#author{
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
  justify-content: flex-end;
  margin: 20px;
  font-family: monospace;
}

.buttons{
  
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between
}

#tweet-quote{
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: white;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid 0;
  transition: all 0.3s ease
}

#new-quote{
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #5372F0;
}


/*Firma */

.author {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: Share Tech Mono,monospace,sans-serif;
  margin-top: 50px;
}

.author a {
  font-size: 25px;
  text-decoration: none;
  color: #ffd900;
  line-height: 26px;
}